

@model Burialmain
<div class="card card-outline-primary m-1 p-1">

    @if (!string.IsNullOrEmpty(Model.Fieldbookexcavationyear))
    {
        <div class="bg-light p-1">
            <span class="badge bg-info" style="float:right">
                Year: @Model.Fieldbookexcavationyear.Substring(0, 4)
            </span>
        </div>
    }


    <ul>
        <li>Burial Number: @Model.Burialnumber</li>
        <li>North South: @Model.Squarenorthsouth</li>
        <li>Hair Color: @Model.Haircolor</li>
        <li>Depth: @Model.Depth Meters</li>
    </ul>

    <span class="card-text">
        <a asp-controller="Home" asp-action="Edit" asp-route-id= "@Model.Id" class="btn btn-success btn-sm float-end">Edit</a>
        <a asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-success btn-sm float-end" style="background-color: red; color: white">Delete</a>
    </span>
</div>


