@{
    ViewData["Title"] = "View Record";
}
@model Burialmain

<h1>View Record Number #@Model.Id</h1>
<div>
    <div>
        <ul>
            <li>Squarenorthsouth: @Model.Squarenorthsouth</li>
            <li>Headdirection: @Model.Headdirection</li>
            <li>Sex: @Model.Sex</li>
            <li>Northsouth: @Model.Northsouth</li>
            <li>Depth: @Model.Depth</li>
            <li>Eastwest: @Model.Eastwest</li>
            <li>Southtohead: @Model.Southtohead</li>
            <li>Preservation: @Model.Preservation</li>
            <li>Text: @Model.Text</li>
            <li>Wrapping: @Model.Wrapping</li>
            <li>Westtohead: @Model.Westtohead</li>
            <li>Area: @Model.Area</li>
            <li>Length: @Model.Length</li>
            <li>Burialnumber: @Model.Burialnumber</li>
            <li>Westtofeet: @Model.Westtofeet</li>
            <li>Ageatdeath: @Model.Ageatdeath</li>
            <li>Southtofeet: @Model.Southtofeet</li>
        </ul>
    </div>
</div>